body {
    background: #5a748d;
}
.box {
    margin: 3rem 20rem 1rem;
    background-color: #437eb5;
}
.body {
    padding: 2rem 0;
}
.user-detail-list {
    font-size: 16pt;
    padding: .5rem 0 2rem 10rem;
}
.user-detail {
    padding: 3.5px 0;
}
.username {
    margin-right: 2rem;
}
.email {
    margin-right: 4.25rem;
}
.flex {
    display: flex;
}
.form-item {
    margin: 10px 0;
    padding-left: 6rem;
    display: block;
    font-size: 16pt;
    color: white;
}
input {
    width: 50%;
    padding: 6px 10px;
    outline: none;
    border-radius: .25rem;
    border: none
}
.change_password {
    text-align: center;
    padding-top: 1rem;
}
.change_password-text {
    padding: 6px 15px;
    width: auto;
    font-size: 12pt;
    background-color: #348541;
    color: white;
}
.change_password-text:hover {
    background-color: #1e662a;
}
.change_password-text:focus {
    background-color: #2caa41;
}