{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock css %}

{% block body %}
<div class="box">
    <div class="body">
        <div>
            <form method="post">
                {% csrf_token %}
                <div class="form-item">
                    {{ form.old_password.errors }}
                    <label for="old_password">Old Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="password" name="old_password" id="old_password">
                </div>
                <div class="form-item">
                    {{ form.new_password1.errors }}
                    <label for="new_password1">New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="password" name="new_password1" id="new_password1">
                </div>
                <div class="form-item">
                    {{ form.new_password2.errors }}
                    <label for="new_password2">Confirm Password:&nbsp;&nbsp;&nbsp;</label>
                    <input type="password" name="new_password2" id="new_password2">
                </div>
                <div class="change_password">
                    <input class="change_password-text" type="submit" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}